@import "themes.css";

html {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: linear-gradient(90deg, var(--color-main-secondary) 60%, var(--color-accent-primary) 40%);
  background-repeat: repeat-y;
  background-color: var(--color-accent-primary);
}

a {
  color: inherit;
  text-decoration: none;
}