:root {
  /* main container */
  --color-main-primary: #252731;
  --color-main-secondary: #161820;

  /* page */
  --color-bg-primary: #30333f;
  --color-bg-secondary: #252731;
  --color-bg-blur: #2c2f3f63;

  /* text */
  --color-text-primary: #f2f3f4;
  --color-text-secondary: #a8aec7;
  --color-text-secondary-alt: #161820;
  --color-text-selected: #30333f;
  
  --color-accent-primary: #db6e6a;

  --color-button-primary: #161820;
  --color-button-secondary: #a8aec7;
}